* { 
    margin:0;
    padding:0;
    box-sizing: border-box;

}

.main-content{
    padding-top:10px;
    padding-bottom: 20px;
    align-items: center;
    flex-direction: column;
    margin: 0 180px 0;
}

.new-content { 
    justify-content: space-between; /* Căn đều các phần tử */
    align-items: center; /* Canh giữa dọc các phần tử */
  }
  
  .header-new-content {
    display: flex; /* Dùng flexbox cho phần này */
    justify-content: space-between;
    width: 100%; /* Đảm bảo chiếm hết chiều rộng */
    padding-bottom: 20px;
  }
  
.title{
    font-size:26px;
    font-weight: 800;
    color:#183459;
    width: 100%;
    margin-top: 23px;
}

.find {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    width: 100%;
  }
  
  .search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgb(244, 189, 158);
    border-radius:6px 0 0 6px; /* Viền bo góc bên trái */
    width: 250px;
    background: rgb(255, 236, 219) !important;
    border-right:none;
  }
  .search-input::placeholder {
    color: #D4530C; /* Màu placeholder */
    font-size: 16px; /* Kích thước chữ trong placeholder */
  }

  .search-button {
    background: rgb(255, 236, 219) !important;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius:0 6px 6px 0; /* Viền bo góc bên phải */
    border: 1px solid rgb(244, 189, 158);
    border-left:none;
  }
  
  .search-button svg {
    color: #D4530C; /* Đặt màu cho biểu tượng kính lúp */
    font-size: 18px;
  }

  .ant-card .ant-card-cover >* {
    height: 250px;
    object-fit: cover;
  }
  .ant-card-bordered{
    border:none;
    box-shadow: -2px 8px 18px rgba(217, 95, 29, 0.2);
  }

  .ant-card-hoverable:hover{
    border:none;
    box-shadow: -2px 8px 18px rgba(217, 95, 29, 0.2);
  }


  .swiper {
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: center;
  }
  
  .swiper-wrapper{
    box-shadow: -2px 8px 18px rgba(217, 95, 29, 0.2);
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .ant-card:not(.card-mini){
    border-radius: 12px;
    min-height: 450px;
  }
  .ant-card .ant-card-meta-title {
    white-space: unset;
    text-overflow: unset;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #183459;
    font-size: 20px;
  }

.card-mini .ant-card-meta-title{
  -webkit-line-clamp: 2;
}
.card-mini {
  height: calc(50% - 3.5px);
}
  .ant-card .ant-card-meta-description{
    white-space: unset;
    text-overflow: unset;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    color: #183459;
    font-size: 14px;
  }

.card-mini .ant-card-meta-description{
  -webkit-line-clamp: 5;
}

.swiper-new-school{
  padding-bottom: 40px;
}

.swiper-slide {
  width: 300px;
}

.card-slide {
  display: flex;
  min-height: 100% !important;
}

.card-slide .ant-card-body,
.card-slide .ant-card-cover {
  width:50%;
  height: 100%;
}


.card-slide .ant-card-meta-title{
  -webkit-line-clamp: none;
}

.card-slide .ant-card-cover{
  margin: auto 0;
  
}

.card-slide .ant-card-cover > img{
  /* object-fit: contain !important; */
  margin:0 10px;
}

.swiper-new-school .swiper{
  height: 400px !important;
}

.card-slide-school{
  min-height: 100% !important;
  height: 550px !important;
}

.card-slide-school .ant-card-meta-title{
  -webkit-line-clamp: 1;
}


.card-slide-school .ant-card-meta-description{
  -webkit-line-clamp: 3;
}