*{
    box-sizing: border-box;
}
.tkd{
    padding-bottom: 43px;
    background-color: rgba(255, 249, 245, 1);
}
.wrapper{
    text-align: center;
    display: grid;
    grid-template-columns:163.33px 70px repeat(6,1fr);
    grid-auto-rows: 50px;
    background-color: rgba(212, 83, 12, 1);
    color:white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 12px 12px 0 0;
}
.wrapper .box2{
    width: 70px;
}
.wrapper>div{
    border: 0.1px solid rgba(255, 224, 206, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper:first-child>div:first-child {
    border-radius: 12px 0 0 0;
}
.wrapper:first-child>div:last-child {
    border-radius: 0 12px 0 0;
}
.wrapper:last-child>div:first-child {
    border-radius: 0 0 0 12px;
}
.wrapper:last-child>div:last-child {
    border-radius: 0 0 12px 0;
}
.wrapper-2 {
    background-color: white;
    color: rgba(17, 19, 20, 1);
    font-size: 14px;
    font-weight: 500;
}

.wrapper-2 .box1{
    background-color: rgba(255, 220, 156, 1);
    color: rgba(212, 83, 12, 1);
    font-size: 26px;
    font-weight: 800;
    grid-row-start: 1;
    grid-row-end: 6;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-2 .box2{
    color:rgba(212, 83, 12, 1);
    font-size: 14px;
    font-weight: 700;
    width: 70px;
}
.wrapper-afternoon {
    background-color: rgba(255, 249, 245, 1);
}
.wrapper-afternoon .box1{
    background-color: rgba(255, 189, 67, 1);
    color: white;
    padding: 16px;
    border-radius: 0  0 0 12px;
}
.schedule{
    display: flex;
}
.schedule p{
    font-size: 14px;
    font-weight: 700;
    color:rgba(212, 83, 12, 1);
}
.schedule  .back{
    display: inline;
    margin: 0;
    padding: 0;
    color:rgba(24, 52, 89, 1);
    font-size: 14px;
    font-weight: 700;
}
.dropdown-menus{
    display: flex;
    justify-content: flex-start;
    
}
.custom-hr{
    width: 68%;
    margin :32px auto 20px;
    color:rgba(244, 189, 158, 1);
}
.select-menu{
    width: calc(33.3% - 6.7px);
    display: inline;
}

.select-menu:nth-child(2){
    margin:0 10px 0;
}

.select-menu .select-btn{
    width: 100% !important;
    color:rgba(99, 110, 114, 1);
    display: flex;
    height: 20px;
    background: #fff;
    font-size: 14px;
    border-radius: 10px;
    align-items: center;
}
.select-btn i{
    font-size: 25px;
    color:rgba(212, 83, 12, 1);
    width: 20px;
    transition: 0.3s;
}
.options .option{
    display: flex;
    height: 50px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}
.options .option:hover{
    background: rgba(255, 236, 219, 1);
}
.option .option-text{
    font-size: 15px;
    color: rgba(24, 52, 89, 1);
}

.ant-select-selector {
    border: 1px solid rgba(244, 189, 158, 1) !important;
    padding: 20px 11px !important;
}

.ant-select-focused:where(.css-dev-only-do-not-override-nt1wtg).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
    box-shadow: none !important;
}

.ant-breadcrumb a{
    text-decoration: none;
    color:rgba(212, 83, 12, 1);
}

.ant-breadcrumb-link{
    font-weight: bold;
}